name: CI/CD Pipeline (Build + Deploy)

on:
  push:
    branches:
      - main

jobs:

  build:
    name: Build and Push Docker Image
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/wisecow:latest .

      - name: Push Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/wisecow:latest

  deploy:
    name: Deploy to Kind Cluster
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Kind Cluster
        uses: engineerd/setup-kind@v0.5.0

      - name: Create Kind Cluster
        run: kind create cluster --wait 60s

      - name: Apply Deployment
        run: kubectl apply -f deployment.yaml

      - name: Apply Service
        run: kubectl apply -f service.yaml

      - name: Wait for Deployment Rollout
        run: kubectl rollout status deployment/wisecow-deployment --timeout=60s

      - name: Confirm Pods Running
        run: kubectl get pods -o wide
